.footer {
    font-family: 'Shrikhand', cursive;
}

.footer_row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    list-style: none;
}

.footer_row-item {}

.footer_row-icon {
    margin-left: 1.25em;
    margin-right: 1.25em;
}