.navbar {
    font-family: 'Shrikhand', cursive;
    font-size: large;
}

.navbar-toggler {
    border: 0;
}

.bg-light {
    background-color: mediumseagreen !important;
    opacity: 0.75;
}

.navbar-brand {
    font-size: 28px;
}

.fa-brands {
    color: black;
    font-size: xx-large;
}

.footer {
    font-family: 'Shrikhand', cursive;
}

.bg-dark {
    background-color: darkseagreen !important;
    opacity: 0.75;
}

.font-primary {
    font-family: 'Shrikhand', cursive;
}

.font-secondary {
    font-family: 'Merriweather', serif;
}

.jumbotron {
    margin: 0;
}

.carousel-caption {
    max-width: 25em;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffc98b;
    opacity: 0.95;
    border-radius: 20px;
    color: black
}

.card {
    box-shadow: 5px 10px #e47ca4;
}

.border-bottom-primary {
    border-bottom: 5px solid #e47ca4 !important;
    border-radius: 0;
}