.navbar {
    font-family: 'Shrikhand', cursive;
    font-size: large;
}

.navbar-toggler {
    border: 0;
}

.bg-light {
    background-color: mediumseagreen !important;
    opacity: 0.75;
}

.navbar-brand {
    font-size: 28px;
}

.fa-brands {
    color: black;
    font-size: xx-large;
}

.bg-dark {
    background-color: darkseagreen !important;
    opacity: 0.75;
}

.jumbotron {
    margin: 0;
}

.carousel-caption {
    max-width: 25em;
    margin-left: auto;
    margin-right: auto;
    background-color: darkseagreen;
    opacity: 0.95;
    border-radius: 20px;
    border: 3px solid black;
    color: black
}

.btn-primary {
    background-color: darkseagreen;
    color: black;
    box-shadow: 2px 5px #e47ca4;
    border: 3px solid black;
    border-radius: 6px;
}

.btn-primary:hover {
    background-color: #e47ca4;
    box-shadow: 2px 5px black;
    border: 3px solid black;
    border-radius: 6px;
    color: black;
    font-weight: bolder;
}